<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "Fahadin.textapps.com"
    versionCode = "1" 
    version     = "1.0.0" >
   <name>Wish </name>
    <description>
            A mobile text apps. 
    </description>
    <author href="https://www.facebook.com/fahadkamal05" email="kawsarkamal71@gmail.com">
            Fahad Kamal
    </author>

    <platform name="android"/>
    <preference name="phonegap-version" value="cli-6.1.0" />
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="disallowOverscroll" value="true" />
    <preference name="target-device" value="universal"/>
    <preference name="deployment-target" value="7.0"/>
    <preference name="exit-on-suspend" value="false"/>
    <preference name="detect-data-types" value="true"/>
    <preference name="prerendered-icon" value="false"/>
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="ios-statusbarstyle" value="default"/>
    <preference name="StatusBarStyle" value="default" />
    
    <preference name="android-minSdkVersion" value="21" />
    <preference name="android-installLocation" value="auto" />
      
       <platform name="android">
        <icon src="res/icon/android/love-text-36" qualifier="ldpi"/>
        <icon src="res/icon/android/love-text-48" qualifier="mdpi"/>
        <icon src="res/icon/android/love-text-72" qualifier="hdpi"/>
        <icon src="res/icon/android/love-text-96" qualifier="xhdpi"/>
        <icon src="res/icon/android/love-text-144" qualifier="xxhdpi"/>
        <icon src="res/icon/android/love-text-192" qualifier="xxxhdpi"/>
      </platform>
      
      <platform name="android">
        <splash src="res/screen/android/love-text-480-800" qualifier="ldpi"/>
        <splash src="res/screen/android/love-text-240-320" qualifier="mdpi"/>
        <splash src="res/screen/android/love-text-320-480" qualifier="hdpi"/>
        <splash src="res/screen/android/love-text-720-1280" qualifier="xhdpi"/>
        <splash src="res/screen/android/love-text-960-1600" qualifier="xxhdpi"/>
        <splash src="res/screen/android/love-text-1280-1920" qualifier="xxxhdpi"/>
      </platform>
      
      <preference name="permissions" value="none"/>
      
      <plugin name="cordova-plugin-camera" spec="~2.1.1" source="npm"/>
      <plugin name="cordova-plugin-device" spec="~1.1.1" source="npm"/>
      <plugin name="cordova-plugin-dialogs" spec="~1.2.0" source="npm"/>
      <plugin name="cordova-plugin-geolocation" spec="~2.1.0" source="npm"/>
      <plugin name="cordova-plugin-inappbrowser" spec="~1.3.0" source="npm"/>
      <plugin name="cordova-plugin-network-information" spec="1.2.0" source="npm"/>
      <plugin name="cordova-plugin-splashscreen" spec="~3.2.1" source="npm"/>
      <plugin name="cordova-plugin-statusbar" spec="~2.1.2" source="npm"/>
      <plugin name="cordova-plugin-whitelist" spec="~1.2.1" source="npm"/>
      <plugin name="phonegap-plugin-barcodescanner" spec="4.1.0" source="npm"/>
      
      <access origin="*" subdomains="true"/>
      
      <allow-intent href="http://*/*"/>
      <allow-intent href="https://*/*"/>
      <allow-intent href="tel:*"/>
      <allow-intent href="sms:*"/>
      <allow-intent href="mailto:*"/>
      <allow-intent href="geo:*"/>
      <platform name="android">
        <allow-intent href="market:*"/>
      </platform>
      
</widget>